* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.home-main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 50px auto 40px;
    grid-template-columns: auto 25%;
    grid-template-areas: "header header" "contentList sidebar" "footer footer";
    z-index: 888;
}

.sidebar {
    grid-area: sidebar;
}

.votelist {
    border: 1px solid #e6e7e9;
    background-color: #f8f8f8;
    border-radius: 0.3em;
    margin: 15px 15px 15px 0;
    padding: 5px;
    overflow-y: auto;
}

.votetitle {
    color: #3273dc;
    font-weight: bold;
}

.voteItem {
    border-radius: 0.3em;
    margin: 10px;
    padding: 5px;
    background-color: rgba(53, 59, 69, 0.2);
}

.empty {
    color: darkgray;
    padding-top: 30%;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #20232a;
    color: #999;
    text-align: center;
}

.footerlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #61dafb;
    background-color: #20232a;
}

.bgc {
    background-color: #20232a;
    font-size: 12px;
}

.bgc-1 {
    padding: 5px 0;
}

.logoImg {
    height: 25px;
}

.bgc-2 {
    padding-bottom: 20px;
}